/* stile header */
header {
    background-color: cornflowerblue;
}

#pic-titolo {
    height: 30px;
}
/* fine stile header */

/* sezione titolo e sottotitolo */
#scritta-grey {
    color: darkgrey;
}
#scritta-celeste {
    color: darkturquoise;
}
#foto-1 {
    height: 250px;
}
#foto-2 {
    height: 250px;
}
.formato-piccolo {
    font-size: 10px;
}
/* fine sezione titolo e sottotitolo */

/* stile main */
#testo-evidenziato {
    background-color: yellow;
}

/* stile tabella */
#intestazione-tabella {
    background-color: rgb(0, 76, 103);
    color: aliceblue;
    font-size: large;
}

.sfondo-celeste{
    background-color: deepskyblue;
}
/* fine stile tabella */
/* fine stile main */

/* stile footer */
/* fine stile footer */